# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.dll
*.so
*.dylib

# Executables
*.exe
*.out

# Precompiled Headers
*.gch
*.pch

# Build folder (for generated build files)
/build/

# Dependency directories
# (Modify this list based on your build system)
/deps/
/vendor/

# CMake build files
CMakeFiles/
CMakeCache.txt
CMakeScripts/
cmake_install.cmake
